### 創建資料庫

In [1]:
import sqlite3
data = sqlite3.connect('Sal.sqlite') #這裡先連線資料庫 如果沒有 會自動創立
cur = data.cursor()#啟動資料庫
#create table [tablaname](columnname type),這裡先用英文表示 之後匯出csv比較好改
cur.execute('''CREATE TABLE Salary(
                a TEXT,
                b TEXT,
                c TEXT,
                d TEXT,
                e TEXT,
                f TEXT,
                g TEXT,
                h TEXT,
                i TEXT,
                j TEXT,
                k TEXT,
                l TEXT,
                m TEXT,
                n TEXT,
                o TEXT,
                p TEXT,
                q TEXT,
                r TEXT,
                s TEXT,
                t TEXT,
                u TEXT,
                v TEXT,
                w TEXT,
                x TEXT
                )''')
cur.close()

### 將要放入資料庫的指令寫成方法
 - 這邊我寫成方法 但是要視爬下來的資料形式去修改方法，像2-4行因為編碼問題，才匯入
 - 重點是資料庫的指令insert into [tablename] values(?,?) 可以寫成變數 然後你要輸入的值一定要跟?號數目相同

In [2]:
def inser():
    import sys  
    reload(sys)  
    sys.setdefaultencoding('utf8')  
    import sqlite3
    dc = sqlite3.connect('dc.sqlite')
    dc.text_factory = str
    cur = dc.cursor()
    sql = 'insert into Sas values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)'
    cur.execute(sql,lis[0:24] )
    dc.commit()

### 開始執行匯入資料庫
   - 重點是怎麼讀資料、資料內容是什麼
   - 我的資料是放在salary4資料夾的txt檔 檔案內容長成a,b,c,d.....這樣。使用read()讀出整個檔案會變成單一字串，'a,b,c,d'電腦會這樣解讀它，所以使用split(",")以逗號分開然後變成list資料，就可以使用lis[ ]來取值。lis[0] = a  lis[1] = b ....
   - 因為寫入資料過程中會遇到不同的狀況，像有些檔案是空的，跑迴圈時就會出現錯誤訊息。要視出現錯誤訊息的種類去排除他，用try,except就可以跳過。讀到檔案後，最後使用寫好的方法，就不用寫一大串了。

In [3]:
def ins():
    for x in xrange(1,6318):
        txt = 'salary4/{}.txt'
        try:
            f = open(txt.format(x), 'r')
            text_factory = str
            lis =f.read().split(",")
            inser()
        except IOError:
            pass